@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cartoon+Queen&display=swap');


* {
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Adjust card width */
  gap: 1rem;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0629f4;
  font-weight: 600;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
}

.movie-card {
  height: 380px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h3 {
  font-size: 1rem;
  margin: 0.5rem;
}

.movie-card p {
  font-size: 0.875rem;
  margin: 0.5rem;
  color: #555;
}

@media (max-width: 480px) {
  .movie-card h3 {
    font-size: 0.9rem;
  }

  .movie-card p {
    font-size: 0.8rem;
  }
}


.genre-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
  justify-content: center;
}

.genre-filter button {
  background-color: #e0e0e0;
  color: #333;
}

.genre-filter button.active {
  background-color: #3f51b5;
  color: white;
}

@media (max-width: 480px) {
  .genre-filter {
    gap: 0.3rem;
  }

  .genre-filter button {
    font-size: 0.8rem;
  }
}


.search-bar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.search-bar input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.search-bar button {
  padding: 0.5rem 1rem;
}

@media (max-width: 480px) {
  .search-bar input {
    width: 200px;
  }

  .search-bar button {
    font-size: 0.9rem;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.pagination span {
  font-size: 1rem;
  color: #555;
}

@media (max-width: 480px) {
  .pagination {
    flex-wrap: wrap; 
    gap: 0.3rem; 
    justify-content: center;
    font-size: 0.9rem;
  }

  .pagination button,
  .pagination span {
    padding: 0.4rem 0.8rem; 
    font-size: 0.8rem; 
  }

  .pagination button {
    width: auto; 
  }

  .pagination span {
    display: none; 
  }

  .pagination-container {
    padding: 0.5rem; 
  }
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-details img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.movie-details h2 {
  margin: 0.5rem 0;
}

.movie-details p {
  color: #555;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 480px) {
  .movie-details img {
    width: 200px;
  }

  .movie-details h2 {
    font-size: 1.2rem;
  }

  .movie-details p {
    font-size: 0.9rem;
  }
}

/* Movie Card */
.movie-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

/* ============================
   Modal
   ============================ */
.movie-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark overlay behind the modal */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  /* Ensures modal is above the navbar */
}

.movie-modal {
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  /* Responsive width */
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 3000;
  /* Modal content is above the overlay */
  position: relative;
  overflow: auto;
}

.movie-modal img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.movie-modal h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.movie-modal p {
  margin: 1rem 0;
  line-height: 1.6;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.close-modal-button:hover {
  color: red;
}

/* Pagination Container */
.pagination-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

/* Pagination List */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}

/* Pagination Items */
.pagination-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.pagination-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #3f51b5;
  /* Primary Color */
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #3f51b5;
  /* Primary Color */
  color: white;
}

/* Previous and Next Buttons */
.pagination-previous,
.pagination-next {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.pagination-previous:hover,
.pagination-next:hover {
  background-color: #3f51b5;
  /* Primary Color */
  color: white;
}

/* Active Page */
.pagination-active .pagination-link {
  background-color: #3f51b5;
  /* Primary Color */
  color: white;
  font-weight: bold;
}

/* Disabled Items */
.pagination-disabled {
  opacity: 0.5;
  pointer-events: none;
}



/* ============================
   Global Styles
   ============================ */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ============================
     Navbar
     ============================ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #3f51b5;
  color: white;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 50px;
}

.navbar-logo {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Cartoon Queen', Arial, sans-serif;
  color: #ffffff;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  font-weight: 500;
}

/* Navbar Links */
.navbar-links a {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: white;
  transition: color 0.3s ease, font-weight 0.3s ease; /* Smooth text color and weight transition */
}

/* Add underline with space using pseudo-element */
.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: -4px; 
  left: 0;
  width: 0;
  height: 3px;
  background-color: #eba91a; 
  transition: width 0.3s ease;
}

/* Hover Effect */
.navbar-links a:hover::after {
  width: 100%;
}

.navbar-links a:hover {
  color: #eba91a; 
  font-weight: 700; 
}


.navbar-toggle {
  background-color: white;
  color: #6159ee;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-toggle:hover {
  background-color: #eba91a;
  font-weight: bold;
  color: #3f51b5;
}

.navbar-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* Slight shadow for separation */
}

/* ============================
     Dark Mode
     ============================ */
body.dark-mode {
  background-color: #121212;
  /* Dark background */
  /* Light text */
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .navbar {
  background-color: #333;
  /* Dark navbar background */
  color: #eaeaea;
  /* Light text for navbar */
}

body.dark-mode .navbar-logo {
  color: #eaeaea;
}

body.dark-mode .navbar-links a {
  color: #eaeaea;
  /* Light text for links */
}

body.dark-mode .navbar-links a:hover {
  color: #ddd;
  /* Slightly lighter hover effect */
}

body.dark-mode .navbar-toggle-container {
  background-color: #444;
  /* Dark toggle container */
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
  /* Subtle shadow */
}

body.dark-mode .navbar-toggle {
  background-color: #666;
  color: #cccbcb;
}

body.dark-mode .navbar-toggle:hover {
  color: #f5c518;
  /* Accent yellow for hover */
}

/* ============================
     Utility Classes
     ============================ */
.hidden {
  display: none;
}

.visible {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #3f51b5;
    padding: 1rem;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
  }

  .movie-card {
    height: 330px;
  }

  .movie-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

